In [35]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import numpy as np

In [9]:
df_customer = pd.read_csv("/Users/minji/fastprojects/open/Customer_info.csv")
df_discount = pd.read_csv("/Users/minji/fastprojects/open/Discount_info.csv")
df_marketing = pd.read_csv("/Users/minji/fastprojects/open/Marketing_info.csv")
df_sales = pd.read_csv("/Users/minji/fastprojects/open/Onlinesales_info.csv")
df_tax = pd.read_csv("/Users/minji/fastprojects/open/Tax_info.csv")

In [11]:
# [2] ë‚ ì§œ íƒ€ì… ë³€í™˜ + ì›” ì¶”ì¶œ
df_sales['ê±°ë˜ë‚ ì§œ'] = pd.to_datetime(df_sales['ê±°ë˜ë‚ ì§œ'])
df_sales['ì›”'] = df_sales['ê±°ë˜ë‚ ì§œ'].dt.strftime('%b')  # Jan, Feb í˜•ì‹

df_marketing['ë‚ ì§œ'] = pd.to_datetime(df_marketing['ë‚ ì§œ'])  # ë‚˜ì¤‘ì— ë‚ ì§œ ê¸°ì¤€ join ê°€ëŠ¥

In [12]:
# [3] ê³ ê° ì •ë³´ merge (ê³ ê°ID ê¸°ì¤€)
df_merged = df_sales.merge(df_customer, on='ê³ ê°ID', how='left')

In [13]:
# [4] ì„¸ê¸ˆ ì •ë³´ merge (ì œí’ˆì¹´í…Œê³ ë¦¬ ê¸°ì¤€)
df_merged = df_merged.merge(df_tax, on='ì œí’ˆì¹´í…Œê³ ë¦¬', how='left')

In [14]:
# [5] í• ì¸ìœ¨ ì •ë³´ merge (ì œí’ˆì¹´í…Œê³ ë¦¬ + ì›” ê¸°ì¤€)
df_merged = df_merged.merge(df_discount[['ì œí’ˆì¹´í…Œê³ ë¦¬', 'ì›”', 'ì¿ í°ì½”ë“œ', 'í• ì¸ìœ¨']], 
                            on=['ì œí’ˆì¹´í…Œê³ ë¦¬', 'ì›”'], how='left')

In [15]:
# [6] ê±°ë˜ê¸ˆì•¡ ê³„ì‚°
df_merged['ê±°ë˜ê¸ˆì•¡'] = df_merged['ìˆ˜ëŸ‰'] * df_merged['í‰ê· ê¸ˆì•¡'] * (1 + df_merged['GST']) * (1 - df_merged['í• ì¸ìœ¨']/100)

In [16]:
# [7] (ì„ íƒ) ë§ˆì¼€íŒ…ë¹„ìš© merge (ë‚ ì§œ ê¸°ì¤€)
df_merged = df_merged.merge(df_marketing, left_on='ê±°ë˜ë‚ ì§œ', right_on='ë‚ ì§œ', how='left')

In [17]:
# [8] (ì„ íƒ) ë‚ ì§œ ì»¬ëŸ¼ ì •ë¦¬
df_merged.drop(columns=['ë‚ ì§œ'], inplace=True, errors='ignore')  # ì¤‘ë³µ ì œê±°ìš©

In [18]:
# [9] ê²°ê³¼ í™•ì¸
print(df_merged.shape)
df_merged.head()

(52924, 19)

,ê³ ê°ID,ê±°ë˜ID,ê±°ë˜ë‚ ì§œ,ì œí’ˆID,ì œí’ˆì¹´í…Œê³ ë¦¬,ìˆ˜ëŸ‰,í‰ê· ê¸ˆì•¡,ë°°ì†¡ë£Œ,ì¿ í°ìƒíƒœ,ì›”,ì„±ë³„,ê³ ê°ì§€ì—­,ê°€ì…ê¸°ê°„,GST,ì¿ í°ì½”ë“œ,í• ì¸ìœ¨,ê±°ë˜ê¸ˆì•¡,ì˜¤í”„ë¼ì¸ë¹„ìš©,ì˜¨ë¼ì¸ë¹„ìš©
0,USER_1358,Transaction_0000,2019-01-01,Product_0981,Nest-USA,1,153.71,6.5,Used,Jan,ë‚¨,Chicago,12,0.10,ELEC10,10.0,152.1729,4500,2424.5
1,USER_1358,Transaction_0001,2019-01-01,Product_0981,Nest-USA,1,153.71,6.5,Used,Jan,ë‚¨,Chicago,12,0.10,ELEC10,10.0,152.1729,4500,2424.5
2,USER_1358,Transaction_0002,2019-01-01,Product_0904,Office,1,2.05,6.5,Used,Jan,ë‚¨,Chicago,12,0.10,OFF10,10.0,2.0295,4500,2424.5
3,USER_1358,Transaction_0003,2019-01-01,Product_0203,Apparel,5,17.53,6.5,Not Used,Jan,ë‚¨,Chicago,12,0.18,SALE10,10.0,93.0843,4500,2424.5
4,USER_1358,Transaction_0003,2019-01-01,Product_0848,Bags,1,16.50,6.5,Used,Jan,ë‚¨,Chicago,12,0.18,AIO10,10.0,17.5230,4500,2424.5

In [19]:
df_merged.shape

(52924, 19)

In [20]:
df_merged.columns

Index(['ê³ ê°ID', 'ê±°ë˜ID', 'ê±°ë˜ë‚ ì§œ', 'ì œí’ˆID', 'ì œí’ˆì¹´í…Œê³ ë¦¬', 'ìˆ˜ëŸ‰', 'í‰ê· ê¸ˆì•¡', 'ë°°ì†¡ë£Œ', 'ì¿ í°ìƒíƒœ',
       'ì›”', 'ì„±ë³„', 'ê³ ê°ì§€ì—­', 'ê°€ì…ê¸°ê°„', 'GST', 'ì¿ í°ì½”ë“œ', 'í• ì¸ìœ¨', 'ê±°ë˜ê¸ˆì•¡', 'ì˜¤í”„ë¼ì¸ë¹„ìš©',
       'ì˜¨ë¼ì¸ë¹„ìš©'],
      dtype='object')

In [21]:
df_merged.dtypes

ê³ ê°ID              object
ê±°ë˜ID              object
ê±°ë˜ë‚ ì§œ      datetime64[ns]
ì œí’ˆID              object
ì œí’ˆì¹´í…Œê³ ë¦¬            object
ìˆ˜ëŸ‰                 int64
í‰ê· ê¸ˆì•¡             float64
ë°°ì†¡ë£Œ              float64
ì¿ í°ìƒíƒœ              object
ì›”                 object
ì„±ë³„                object
ê³ ê°ì§€ì—­              object
ê°€ì…ê¸°ê°„               int64
GST              float64
ì¿ í°ì½”ë“œ              object
í• ì¸ìœ¨              float64
ê±°ë˜ê¸ˆì•¡             float64
ì˜¤í”„ë¼ì¸ë¹„ìš©             int64
ì˜¨ë¼ì¸ë¹„ìš©            float64
dtype: object

In [22]:
df_merged.isnull().sum()

ê³ ê°ID        0
ê±°ë˜ID        0
ê±°ë˜ë‚ ì§œ        0
ì œí’ˆID        0
ì œí’ˆì¹´í…Œê³ ë¦¬      0
ìˆ˜ëŸ‰          0
í‰ê· ê¸ˆì•¡        0
ë°°ì†¡ë£Œ         0
ì¿ í°ìƒíƒœ        0
ì›”           0
ì„±ë³„          0
ê³ ê°ì§€ì—­        0
ê°€ì…ê¸°ê°„        0
GST         0
ì¿ í°ì½”ë“œ      400
í• ì¸ìœ¨       400
ê±°ë˜ê¸ˆì•¡      400
ì˜¤í”„ë¼ì¸ë¹„ìš©      0
ì˜¨ë¼ì¸ë¹„ìš©       0
dtype: int64

In [23]:
# ê²°ì¸¡ì¹˜ê°€ 1ê°œ ì´ìƒ ìˆëŠ” ì»¬ëŸ¼ë§Œ ì¶œë ¥
df_merged.isnull().sum()[df_merged.isnull().sum() > 0]

ì¿ í°ì½”ë“œ    400
í• ì¸ìœ¨     400
ê±°ë˜ê¸ˆì•¡    400
dtype: int64

In [24]:
# í• ì¸ìœ¨ì´ ê²°ì¸¡ì¹˜ì¸ rowë§Œ í™•ì¸
df_merged[df_merged['í• ì¸ìœ¨'].isnull()][['ê³ ê°ID', 'ì œí’ˆì¹´í…Œê³ ë¦¬', 'ì›”', 'ì¿ í°ì½”ë“œ', 'í• ì¸ìœ¨', 'ê±°ë˜ê¸ˆì•¡']].head(10)

          ê³ ê°ID     ì œí’ˆì¹´í…Œê³ ë¦¬    ì›” ì¿ í°ì½”ë“œ  í• ì¸ìœ¨  ê±°ë˜ê¸ˆì•¡
62   USER_1358        Fun  Jan  NaN  NaN   NaN
95   USER_0585  Backpacks  Jan  NaN  NaN   NaN
157  USER_1421        Fun  Jan  NaN  NaN   NaN
178  USER_0906        Fun  Jan  NaN  NaN   NaN
193  USER_0954     Google  Jan  NaN  NaN   NaN
314  USER_0284     Google  Jan  NaN  NaN   NaN
439  USER_0484  More Bags  Jan  NaN  NaN   NaN
525  USER_1378  More Bags  Jan  NaN  NaN   NaN
573  USER_1382     Google  Jan  NaN  NaN   NaN
648  USER_0138     Google  Jan  NaN  NaN   NaN

In [25]:
# ê²°ì¸¡ì¹˜ ìˆëŠ” ì—´ë§Œ ê°€ì ¸ì˜¤ê¸°
null_columns = df_merged.columns[df_merged.isnull().any()]

# ê° ì—´ì— ëŒ€í•´ ê²°ì¸¡ì¹˜ì¸ í–‰ ì¼ë¶€ í™•ì¸
for col in null_columns:
    print(f"\nğŸ” [ê²°ì¸¡ì¹˜ ìˆëŠ” ì—´: {col}]\n")
    display(df_merged[df_merged[col].isnull()][[col, 'ê³ ê°ID', 'ì œí’ˆì¹´í…Œê³ ë¦¬', 'ì›”', 'ê±°ë˜ë‚ ì§œ']].head())

ğŸ” [ê²°ì¸¡ì¹˜ ìˆëŠ” ì—´: ì¿ í°ì½”ë“œ]

    ì¿ í°ì½”ë“œ       ê³ ê°ID     ì œí’ˆì¹´í…Œê³ ë¦¬    ì›”       ê±°ë˜ë‚ ì§œ
62   NaN  USER_1358        Fun  Jan 2019-01-01
95   NaN  USER_0585  Backpacks  Jan 2019-01-02
157  NaN  USER_1421        Fun  Jan 2019-01-02
178  NaN  USER_0906        Fun  Jan 2019-01-02
193  NaN  USER_0954     Google  Jan 2019-01-02

ğŸ” [ê²°ì¸¡ì¹˜ ìˆëŠ” ì—´: í• ì¸ìœ¨]

     í• ì¸ìœ¨       ê³ ê°ID     ì œí’ˆì¹´í…Œê³ ë¦¬    ì›”       ê±°ë˜ë‚ ì§œ
62   NaN  USER_1358        Fun  Jan 2019-01-01
95   NaN  USER_0585  Backpacks  Jan 2019-01-02
157  NaN  USER_1421        Fun  Jan 2019-01-02
178  NaN  USER_0906        Fun  Jan 2019-01-02
193  NaN  USER_0954     Google  Jan 2019-01-02

ğŸ” [ê²°ì¸¡ì¹˜ ìˆëŠ” ì—´: ê±°ë˜ê¸ˆì•¡]

     ê±°ë˜ê¸ˆì•¡       ê³ ê°ID     ì œí’ˆì¹´í…Œê³ ë¦¬    ì›”       ê±°ë˜ë‚ ì§œ
62    NaN  USER_1358        Fun  Jan 2019-01-01
95    NaN  USER_0585  Backpacks  Jan 2019-01-02
157   NaN  USER_1421        Fun  Jan 2019-01-02
178   NaN  USER_0906        Fun  Jan 2019-01-02
193   NaN  USER_0954     Google  Jan 2019-01-02

In [26]:
# í• ì¸ìœ¨ ì—†ìœ¼ë©´ 0% í• ì¸ìœ¼ë¡œ ê°„ì£¼
df_merged['í• ì¸ìœ¨'] = df_merged['í• ì¸ìœ¨'].fillna(0)

In [27]:
# ì¿ í°ì½”ë“œ ì—†ìœ¼ë©´ 'NoCoupon'ìœ¼ë¡œ ì±„ìš°ê¸°
df_merged['ì¿ í°ì½”ë“œ'] = df_merged['ì¿ í°ì½”ë“œ'].fillna('NoCoupon')

In [28]:
# ê±°ë˜ê¸ˆì•¡ ë‹¤ì‹œ ê³„ì‚° (í• ì¸ìœ¨ í¬í•¨)
df_merged['ê±°ë˜ê¸ˆì•¡'] = (
    df_merged['ìˆ˜ëŸ‰'] * 
    df_merged['í‰ê· ê¸ˆì•¡'] * 
    (1 + df_merged['GST']) * 
    (1 - df_merged['í• ì¸ìœ¨'] / 100)
)

In [29]:
df_merged.isnull().sum()

ê³ ê°ID      0
ê±°ë˜ID      0
ê±°ë˜ë‚ ì§œ      0
ì œí’ˆID      0
ì œí’ˆì¹´í…Œê³ ë¦¬    0
ìˆ˜ëŸ‰        0
í‰ê· ê¸ˆì•¡      0
ë°°ì†¡ë£Œ       0
ì¿ í°ìƒíƒœ      0
ì›”         0
ì„±ë³„        0
ê³ ê°ì§€ì—­      0
ê°€ì…ê¸°ê°„      0
GST       0
ì¿ í°ì½”ë“œ      0
í• ì¸ìœ¨       0
ê±°ë˜ê¸ˆì•¡      0
ì˜¤í”„ë¼ì¸ë¹„ìš©    0
ì˜¨ë¼ì¸ë¹„ìš©     0
dtype: int64

In [30]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52924 entries, 0 to 52923
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ê³ ê°ID    52924 non-null  object
 1   ê±°ë˜ID    52924 non-null  object
 2   ê±°ë˜ë‚ ì§œ    52924 non-null  datetime64[ns]
 3   ì œí’ˆID    52924 non-null  object
 4   ì œí’ˆì¹´í…Œê³ ë¦¬  52924 non-null  object
 5   ìˆ˜ëŸ‰      52924 non-null  int64
 6   í‰ê· ê¸ˆì•¡    52924 non-null  float64
 7   ë°°ì†¡ë£Œ     52924 non-null  float64
 8   ì¿ í°ìƒíƒœ    52924 non-null  object
 9   ì›”       52924 non-null  object
 10  ì„±ë³„      52924 non-null  object
 11  ê³ ê°ì§€ì—­    52924 non-null  object
 12  ê°€ì…ê¸°ê°„    52924 non-null  int64
 13  GST     52924 non-null  float64
 14  ì¿ í°ì½”ë“œ    52924 non-null  object
 15  í• ì¸ìœ¨     52924 non-null  float64
 16  ê±°ë˜ê¸ˆì•¡    52924 non-null  float64
 17  ì˜¤í”„ë¼ì¸ë¹„ìš©  52924 non-null  int64
 18  ì˜¨ë¼ì¸ë¹„ìš©   52924 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(3), object(9)
memory usage: 8.1+ MB

In [31]:
ì›”_ë³€í™˜ = {'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4,
          'May': 5, 'Jun': 6, 'Jul': 7, 'Aug': 8,
          'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12}

df_merged['ì›”(ìˆ«ìí˜•)'] = df_merged['ì›”'].map(ì›”_ë³€í™˜)

In [32]:
df_merged.describe()

,ìˆ˜ëŸ‰,í‰ê· ê¸ˆì•¡,ë°°ì†¡ë£Œ,ê°€ì…ê¸°ê°„,GST,í• ì¸ìœ¨,ê±°ë˜ê¸ˆì•¡,ì˜¤í”„ë¼ì¸ë¹„ìš©,ì˜¨ë¼ì¸ë¹„ìš©,ì›”(ìˆ«ìí˜•)
count,52924.000000,52924.000000,52924.000000,52924.000000,52924.000000,52924.000000,52924.000000,52924.000000,52924.000000,52924.000000
mean,4.497638,52.237646,10.517630,26.127995,0.137462,19.802358,78.563156,2830.914141,1893.109119,6.652388
std,20.104711,64.006882,19.475613,13.478285,0.045825,8.278878,149.875728,936.154247,807.014092,3.333364
min,1.000000,0.390000,0.000000,2.000000,0.050000,0.000000,0.315700,500.000000,320.250000,1.000000
25%,1.000000,5.700000,6.000000,15.000000,0.100000,10.000000,11.225340,2500.000000,1252.630000,4.000000
50%,1.000000,16.990000,6.000000,27.000000,0.180000,20.000000,28.865160,3000.000000,1837.870000,7.000000
75%,2.000000,102.130000,6.500000,37.000000,0.180000,30.000000,114.730000,3500.000000,2425.350000,9.000000
max,900.000000,355.740000,521.360000,50.000000,0.180000,30.000000,8972.775000,5000.000000,4556.930000,12.000000

In [37]:
df_merged['ì œí’ˆì¹´í…Œê³ ë¦¬'].unique()

array(['Nest-USA', 'Office', 'Apparel', 'Bags', 'Drinkware', 'Lifestyle',
       'Notebooks & Journals', 'Headgear', 'Waze', 'Fun', 'Nest-Canada',
       'Backpacks', 'Google', 'Bottles', 'Gift Cards', 'More Bags',
       'Housewares', 'Android', 'Accessories', 'Nest'], dtype=object)

In [38]:
df_merged.to_csv('/Users/minji/fastprojects/open/merge_data.csv', index=False)